<h2>Les derniers articles</h2>

<p-card>
  <h2>Pourquoi utiliser la programmation réactive avec Angular ?</h2>
  <p>La programmation impérative est une programmation qui se base sur des instructions précises et définies par
    l'utilisateur, exécutées ligne par ligne de manière <strong>synchrone</strong>.</p>
  <p>La programmation réactive est une approche de programmation qui utilise des flux de données pour gérer les données
    de manière <strong>asynchrone</strong>...</p>

  <div class="flex justify-content-end">
    <button [routerLink]="'/articles/1'"
            pButton pRipple type="button" label="Lire la suite..."
            icon="pi pi-arrow-right"
            class="p-button-raised p-button-info p-button-text"></button>
  </div>
</p-card>
