<p-card>
  <h1>Page d'accueil</h1>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officia quas saepe velit voluptates. A animi,
    aspernatur aut ducimus praesentium similique ut vel voluptate! Dolorem inventore molestias odit! Eum, explicabo.
  </div>
  <div>A assumenda dolor eaque eligendi est ex, explicabo hic illum in magnam maxime molestias nemo neque nisi nobis
    pariatur qui quibusdam reiciendis, rem repellendus rerum sapiente, similique temporibus ullam vitae.
  </div>
  <div>Aut corporis distinctio dolor earum eum ipsum necessitatibus vel voluptates. Incidunt minus mollitia nam nesciunt
    nisi optio, quas repellendus ut! Aliquam ducimus facilis id modi molestiae possimus quas quibusdam tempore.
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam dignissimos dolore eos et excepturi numquam
    qui quia velit vero. Aliquam animi dolorem eum obcaecati quo repellendus reprehenderit ullam unde!
  </div>
  <div>Aperiam aspernatur aut consectetur cum deserunt harum iusto labore maiores, nostrum pariatur sed totam vel veniam
    vero voluptate voluptatem voluptatibus? Autem, culpa fuga nam neque nostrum repudiandae vero. Fuga, repudiandae.
  </div>
  <div>A aliquam asperiores blanditiis dignissimos ea enim eum eveniet excepturi explicabo facilis incidunt, libero
    molestiae nam officiis perferendis possimus recusandae reiciendis ullam vero voluptas. Expedita explicabo laborum
    magnam maiores voluptatum?
  </div>
  <div>Ad alias aliquid aut autem blanditiis cumque, debitis doloremque, eos expedita ipsa molestiae nisi nulla odio
    quam quo reiciendis reprehenderit sed tempora tempore temporibus, ut voluptate voluptatibus! In, ipsum quasi?
  </div>
  <div>A aliquam assumenda at consequatur delectus dolorum eaque eius esse et, ex, excepturi in itaque iure labore
    libero mollitia nulla, perspiciatis quas quod rem repellendus totam voluptatem. Facere, incidunt, iure!
  </div>
  <div>Atque autem blanditiis consectetur corporis dignissimos dolore earum eius enim error facilis, illum inventore
    molestiae neque nihil pariatur perspiciatis, placeat porro quas quia quis reiciendis repellat, tenetur totam velit
    voluptates.
  </div>
  <div>At culpa molestias sunt. A adipisci at beatae consequuntur, distinctio dolores ducimus ex fuga illo inventore
    ipsam iusto nemo, neque nihil, officiis quae quaerat reprehenderit tempora. Ducimus quia sint vero?
  </div>
  <div>Alias dolorem eligendi eveniet excepturi exercitationem facere facilis id, ipsa iusto, magnam minima molestias
    mollitia nulla numquam perspiciatis reprehenderit suscipit temporibus veritatis voluptate voluptatum. Dolore iste
    magni nesciunt perferendis vitae!
  </div>
  <div>Ab accusamus amet asperiores aut, consectetur, consequuntur dolor ducimus eaque eligendi eum expedita explicabo
    inventore nostrum praesentium quia ratione tempore veniam! Accusamus alias eligendi facere, inventore libero magnam
    molestiae nulla?
  </div>
  <div>Distinctio dolorum excepturi molestias quasi! Aliquam asperiores consectetur est illo impedit laboriosam, magnam
    minus odio praesentium quasi rem reprehenderit ut velit vero voluptatum. Eaque impedit nemo praesentium suscipit
    unde, voluptas!
  </div>

</p-card>
