<p-card>
  <h1>Pourquoi utiliser la programmation réactive avec Angular ?</h1>
  <h2>1 - Programmation réactive VS Programmation impérative</h2>

  <p>La programmation impérative est une programmation qui se base sur des instructions précises et définies par
    l'utilisateur, exécutées ligne par ligne de manière <strong>synchrone</strong>.</p>
  <p>La programmation réactive est une approche de programmation qui utilise des flux de données pour gérer les données
    de manière <strong>asynchrone</strong>.</p>
  Voyez l'exemple suivant:
  <div class="grid">
    <div class="col-6">
      <pre>
      <code>
        <strong>Impérative:</strong>
        A = 1;
        B = A + 1;
        C = B + 1;
        A = 100;

        <strong>Résultat:</strong>
        A = 100;
        B = <strong>2</strong>;
        C = <strong>3</strong>;
      </code>
        </pre>
    </div>
    <div class="col-6">
      <pre>
      <code>
        <strong>Réactive:</strong>
        A = 1;
        B = A + 1;
        C = B + 1;
        A = 100;

        <strong>Résultat:</strong>
        A = 100;
        B = <strong>101</strong>;
        C = <strong>102</strong>;
      </code>
        </pre>
    </div>
  </div>

  <p>Comme nous pouvons le constater, ces deux approches compilent le code de manière différente.</p>

  <p>
    <strong>Répondre au téléphone et Manger son repas ?</strong>
  </p>

  <p>L'approche impérative terminera la discussion téléphonique avant d'attaquer le repas, alors que l'approche réactive
    pourra <strong>combiner les deux actions</strong> et manger son repas en étant en communication.</p>

  <p>Après avoir discuter de la différence entre l'approche réactive et impérative, voyons les bénéfices d'une approche
    réative avec Angular.</p>

  <h2>2 - La programmation réactive avec Angular</h2>

  <p>Analysons dans un premier temps une approche impérative dans un composant Angular.</p>
  <p>Dans cet exemple nous cherchons à créer: </p>
  <ol>
    <li>Une barre de recherche pour trouver un super héro</li>
    <li>Nous affichons maximum 3 super héros</li>
    <li>Cette liste ce met à jour toutes les 1,5sec</li>
  </ol>

  <pre>
    <code>
      search = new FormControl('');
      superHeroes: SuperHero[] = [];
      baseUrl = 'https://fakeurl.com';

      constructor(private http: HttpClient) {{ "{}" }}

      ngOnInit() {{ "{" }}
        this.search.valueChanges.subscribe((searchText: string) =>
          this.http.get(this.baseUrl + searchText).subscribe((results) => {{ "{" }}
            interval(1500).subscribe((int) => this.superHeroes = results.superHeroes);
          });
        });
      }
    </code>
  </pre>

  <p>Premier code smell ici: <strong>nested subscriptions.</strong> The comportement entrainera des effets de bord.
  A chaque fois que notre observable (search valueChanges) change, le code à l'intérieur de la souscription est exécuté à nouveau.
  Une nouvelle réponse HTTP est reçue, un nouvel interval est créé. En effet, aucune des souscriptions n'est annulée, et elles s'accumulent de manière silencieuse jusqu'à entrainer le crash de votre ordinateur.</p>
  <p>Ce qu'il nous faut: La recherche précedente doit être annulée lorsqu'une nouvelle est lancée.</p>

  <h2>L'approche réactive</h2>

  <p>Nous avons les inconvénients d'imiter le comportement des promesses (avec les fonctions de rappel dans notre souscription).
  Nous devons changer la manière dont le code est implémenté. Nous avons 3 évènements auxquels réagir: </p>
  <ol>
    <li>La saisie de l'utilisateur</li>
    <li>L'appel HTTP</li>
    <li>L'interval de rafraichissement des résultats</li>
  </ol>

  <p>Voyons le code: </p>

  <pre>
    <code>
      search = new FormControl('');
      baseUrl = 'https://fakeurl.com';

      superHeroes$: Observable{{'<\SuperHero[]>'}} = this.search.valueChanges.pipe(
        debounceTime(500),
        distinctUntilChanged(),
        switchMap((searchText: string) => this.http.get(this.baseUrl + searchText))
      );

      triggeredInterval$ = this.superHeroes$.pipe(
        switchMap((results) => interval(1500))
      );

      superHeroesCarousel$ = combineLatest(this.superHeroes$, this.triggeredInterval$).pipe(
        map(([superHeroes, int]) => superHeroes)
      );

      constructor(private http: HttpClient) {{ "{}" }}

    </code>
  </pre>

  <p>Dans cet exemple nous utilisons 4 opérateurs: debounceTime, distinctUntilChanged, combineLatest.</p>

  <p>La première opération est une opération de <strong>débounce</strong>. Cette opération permet de ne pas exécuter la fonction de rappel de la souscription si la valeur de la source change toutes les 500ms.</p>

  <p>WIP...</p>

</p-card>
