<p-card>
  <h1>-- Nom de l'article --</h1>
  <h2>Introduction</h2>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officia quas saepe velit voluptates. A animi,
    aspernatur aut ducimus praesentium similique ut vel voluptate! Dolorem inventore molestias odit! Eum, explicabo.
  </div>
  <div>A assumenda dolor eaque eligendi est ex, explicabo hic illum in magnam maxime molestias nemo neque nisi nobis
    pariatur qui quibusdam reiciendis, rem repellendus rerum sapiente, similique temporibus ullam vitae.
  </div>
  <div>Aut corporis distinctio dolor earum eum ipsum necessitatibus vel voluptates. Incidunt minus mollitia nam nesciunt
    nisi optio, quas repellendus ut! Aliquam ducimus facilis id modi molestiae possimus quas quibusdam tempore.
  </div>
  <div>Assumenda fugit ipsa, ipsum itaque laborum necessitatibus quo quod soluta tempora voluptatum? Alias doloremque
    doloribus eveniet facere in, ipsam libero maiores natus officia officiis perspiciatis qui tempore voluptatem? In,
    sapiente!
  </div>
  <p-divider align="left">
    <span>Partie 1</span>
  </p-divider>
  <div>Distinctio dolor laudantium molestiae, nemo optio quos rerum sed! Aperiam commodi, eius in rerum similique
    veritatis voluptate voluptatem voluptates. Assumenda, et ut. Amet culpa expedita facere placeat possimus praesentium
    voluptas.
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem cum, dignissimos incidunt laudantium
    nisi rem voluptatibus. Maiores pariatur quod sunt totam. Aut delectus facere obcaecati omnis quam sed. Architecto.
  </div>
  <div>A amet asperiores et eum eveniet, ex, explicabo facere fugit nemo nesciunt nihil nobis, perspiciatis quae
    repellat ut vitae voluptate? Amet animi atque dolores inventore itaque nesciunt quae quod repudiandae?
  </div>
  <p-divider align="left">
    <span>Partie 2</span>
  </p-divider>
  <div>Aspernatur at, beatae consequatur doloribus eveniet placeat quos recusandae. Adipisci eos maxime molestiae non,
    optio praesentium quas rem repudiandae tempore? Ab at autem ea ipsa mollitia natus officia provident temporibus!
  </div>
  <div>A beatae, dolores ea eos iure laudantium molestiae numquam omnis quia quisquam rem suscipit ullam voluptatibus.
    Adipisci deleniti eligendi labore maiores minima minus odio, repellat rerum! Cum ipsa numquam quaerat.
  </div>
  <div>A accusantium alias, aspernatur at atque culpa cupiditate est eum, id itaque maiores molestias nihil omnis
    provident quam quas qui quos ratione vitae voluptatum. Dolorem explicabo iste quaerat quibusdam totam.
  </div>
</p-card>
