@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.min.css';
@import '~primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  height: 100vh;
}
body {
  padding: 0;
  max-width: 1600px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 28px;
}

